
/* Remove default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
}
